########################
# built files
########################
build/index.js

########################
# node.js / npm
########################
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules/*
!node_modules/app


########################
# misc / editors
########################
*~
*#
.DS_STORE
.netbeans
nbproject
.idea


